.mark-blue{
    background-color: #cce5ff; /* Light blue */
}
.mark-green{
    background-color: #d4edda; /* Light green */
}
.mark-pink{
    background-color: #f8d7da; /* Light pink */
}
.bg-html{
    background-color: #FAFAD2; /* Light pink */
}
.bg-head{
    background-color: #7FFFD4; /* Light pink */
}
.bg-body{
    background-color: #90EE90; /* Light pink */
}
.bg-foot{
    background-color: #FFDEAD; /* Light pink */
}